---
import { getBlogPostMeta } from "../lib/seo";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SITE_URL,
  TWITTER_HANDLE,
  MY_NAME,
} from "../config";

export interface Props {
  title?: string;
  description?: string;
  publishDate: string;
  pagePath?: string;
  ogImageAbsoluteUrl?: string;
  ogImageAltText?: string;
  ogImageWidth?: number;
  ogImageHeight?: number;
}

const {
  title,
  description,
  publishDate,
  pagePath,
  ogImageAbsoluteUrl,
  ogImageAltText,
  ogImageWidth,
  ogImageHeight,
} = Astro.props;

const { meta, og, twitter } = getBlogPostMeta({
  title: title || SITE_TITLE,
  description: description || SITE_DESCRIPTION,
  pageUrl: pagePath ? new URL(pagePath, SITE_URL).toString() : undefined,
  authorName: MY_NAME,
  publishDate,
  ogImageAbsoluteUrl,
  ogImageAltText,
  ogImageWidth,
  ogImageHeight,
  siteOwnerTwitterHandle: TWITTER_HANDLE,
  contentAuthorTwitterHandle: TWITTER_HANDLE,
});
---

<!-- Primary Meta Tags -->
<title>{meta.title}</title>
<meta name="title" content={meta.title} />
{meta.description && <meta name="description" content={meta.description} />}
{meta.canonicalUrl && <link rel="canonical" href={meta.canonicalUrl} />}

<!-- Open Graph / Facebook -->
{og.title && <meta property="og:title" content={og.title} />}
{og.description && <meta property="og:description" content={og.description} />}
{og.type && <meta property="og:type" content={og.type} />}
{og.url && <meta property="og:url" content={og.url} />}
{og.author && <meta property="article:author" content={og.author} />}
{
  og.publishDate && (
    <meta property="article:published_time" content={og.publishDate} />
  )
}
{og.image && <meta property="og:image" content={og.image} />}
{og.imageAlt && <meta property="og:image:alt" content={og.imageAlt} />}
{og.imageWidth && <meta property="og:image:width" content={og.imageWidth} />}
{og.imageHeight && <meta property="og:image:height" content={og.imageHeight} />}

<!-- Twitter -->
{twitter.title && <meta property="twitter:title" content={twitter.title} />}
{
  twitter.description && (
    <meta property="twitter:description" content={twitter.description} />
  )
}
{twitter.site && <meta property="twitter:site" content={twitter.site} />}
{
  twitter.creator && (
    <meta property="twitter:creator" content={twitter.creator} />
  )
}
<meta property="twitter:card" content="summary_large_image" />
{twitter.image && <meta property="twitter:image" content={twitter.image} />}
{
  twitter.imageAlt && (
    <meta property="twitter:image:alt" content={twitter.imageAlt} />
  )
}
<!-- {twitter.url && <meta property="twitter:url" content={twitter.url} />} -->
